@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Press+Start+2P&display=swap');
body {
   
    background-image: url('../Imagenes/TTBYD.png');
    
    /* Para que cubra toda la pantalla sin repetirse ni deformarse */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    /* Configuración de estructura (esto ya lo tenías) */
    width: 100%;
    height: 100vh; /* Usar vh es mejor que % para el alto total */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

html, body
{
    height: 100%;
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Texto2
{
    color: #3f5037;
}

.container-form h2
{
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    margin-bottom: 20px;

}

.Google
{
    display: flex;
    gap:  12px;
    margin-bottom: 20px;
}
.Google .g_id_signin
{
    border: 1px solid white;
    border-radius: 6px;
    padding: 8px;
    cursor: pointer;
}

.container-form span
{
    font-family: "Press Start 2P", system-ui;
    font-size: 11px;
    margin-bottom: 15px;
    color: #3f5037;
}

.container
{
    border: 2px solid black;
    width: 800px;
    height: 500px;
    display: flex;
    position: relative;
}

.container-form
{
    border: 2px solid green;
    width: 100%;
    overflow: hidden;
}

.container-form form
{
    border: 2px solid red;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease-in;
}

.container-input
{
    border: 2px solid red;
    width: 300px;
    height: 40px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 0 15px;
    background-color: #EEEEEE;
}

.container-input input
{
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    background-color: inherit;
}

.button
{
    width: 170px;
    height: 45px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    background-color: #3AB397;
    color: white;
}
/* Animacion */

.sign-up
{
    transform: translateX(-100%);
}

.container.toggle .sign-in
{
    transform: translateX(100%);
}

.container.toggle .sign-up
{
    transform: translateX(0);
}
/*Welcome*/
.container-welcome
{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    transform: translateX(100%);
    background-color: #99bb6b;
    transition: transform 0.5s ease-in-out;
    overflow: hidden;
}

.container.toggle .container-welcome
{
    transform: translateX(0);
}

.container-welcome .welcome
{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 0 50px;
    color: white;
    transition: transform 0.5s ease-in-out;
}

.welcome-sign-in
{
    transform: translateX(100%);
}

.container-welcome h3
{
    font-size: 40px;
}

.container-welcome p
{
    font-size: 14px;
    text-align: center;
}

.container.toggle .welcome-sign-in
{
    transform: translateX(0);
}

.container-welcome .welcome-sign-up
{
    transform: translateX(-100%);
}
