Options -Indexes +FollowSymLinks
RewriteEngine On
DirectoryIndex Index.php index.php index.html

<FilesMatch "\.php$">
    SetHandler application/x-httpd-php
</FilesMatch>

<IfModule mod_access_compat.c>
    Require all granted
</IfModule>



